@media print {
  .print-hidden {
    display: none;
  }
}

/* network graph */

.network-graph-svg .node-path {
  cursor: pointer;
}

.network-graph-svg .paper-network-label {
  cursor: pointer;
}

.network-graph-svg .node-label {
  cursor: pointer;
}

.network-graph-svg .connector-node {
  text-anchor: middle;
  font-size: 25px;
  cursor: move;
}

.network-graph-svg .linked-label {
  fill: #ee8e29;
}

/* author network selected link */
.network-graph-svg .selected-link {
  stroke: #ee8e29;
}

/* paper network link selected */
.network-graph-svg .link.selected {
  stroke-opacity: 60%;
}

.network-graph-svg .node-path:hover {
  fill-opacity: 0.6;
}

.network-graph-svg .selected-node {
  stroke-width: 2.5px;
  stroke: #000;
  fill-opacity: 0.6;
}

.network-graph-svg .hover-node {
  stroke-width: 2.5px;
  stroke: #000;
  fill-opacity: 0.6;
}

.link-background {
  fill: hsla(0, 0%, 100%, 0.8);
}

/* concept cloud */

.word-cloud-container .word-cloud-word {
  cursor: pointer;
}

.word-cloud-container .word-cloud-word.selected {
  fill: #ee8e29 !important;
}

/** results graph **/
.bubble-plot-svg .scale-choice {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.bubble-plot-svg .scale-choice:hover {
  cursor: pointer;
}

.bubble-plot-svg .scale-choice.selected {
  fill: rgb(128, 128, 128);
}

.bubble-plot-svg .group-legend {
  cursor: pointer;
}

.bubble-plot-svg .group-legend.selected {
  font-weight: bold;
}

.bubble-plot-tooltip {
  display: block;
  position: absolute;
  z-index: 50;
  padding: 1.25rem;
  margin: 0;
  border-radius: 0.25rem;
  color: #F9FAFB;
  background-color: #1F2937;
}

.bubble-plot-svg .paper-circle {
  cursor: pointer;
  opacity: 0.6;
}

.bubble-plot-svg .paper-circle:hover {
  opacity: .9;
}

.bubble-plot-svg .paper-circle.selected {
  stroke: #000;
  stroke-width: 3.5px;
  stroke-opacity: 1;
}

/** histogram **/
.histogram-tooltip {
  display: block;
  position: absolute;
  z-index: 50;
  padding: 0.25rem;
  margin: 0;
  border-radius: 0.25rem;
  color: #F9FAFB;
  background-color: #1F2937;
}

/* ReCAPTCHA badge*/
.grecaptcha-badge {
  visibility: hidden;
}
